
@{
    ViewData["Title"] = "LINQ-BD";
}

<h1>Bienvenido al Curso de Herramientas de Programacion II</h1>
<hr />
<h1>Consulta de Datos de Venta</h1>
<br /> <!--salto de linea-->
<table class="table table-bordered">
    <!--creando tabla y dandole estilo(bordes visibles)-->
    <tr>
        <!--fila-->
        <td>Consultas</td> <!--columna-->
    </tr>
    <tr>
        <td>
            <!--columna-->
            <a href="/Home/Index">Pagina Web Home</a> <!--enlace-->
        </td>
    </tr>
    <tr>
        <td>
            <!--columna-->
            <a href="/VentasIDAT/PedidosporCliente">Consulta de Pedidos por Cliente</a> <!--enlace-->
        </td>
    </tr>
    <tr>
        <td>
            <!--columna-->
            <a href="/VentasIDAT/PedidosporAño">Consulta de Pedidos por Año de Ventas</a> <!--enlace-->
        </td>
    </tr>
    <tr>
        <td>
            <!--columna-->
            <a href="/VentasIDAT/PedidosporClienteyAnio">Consulta de Pedidos por Cliente y Año de Venta</a> <!--enlace-->
        </td>
    </tr>
    <tr>
        <td>
            <!--columna-->
            <a href="/VentasIDAT/CategoriasyProductos">Consulta de Productos por Categoria</a> <!--enlace-->
        </td>
    </tr>

</table>